.head-wrap {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;

  svg {
    width: 100%;
  }

  a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
  }
}
