// fonts
$font__sans: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", sans-serif;

// colors
$color__blue: #1952be;
$color__blue--light: #389cd8;
$color__sand: #f5c9a4;
$color__sand--light: #fffcf9;
